/* banner related  */
.banner {
    padding: 0%;
    text-align: center;
    font-family: Merriweather;
    font-size: 500px;
    height: 300px;
    background-image: url("Banner Image.png") background-repeat:-moz-radial-gradient(none)
}

.banner-greeting {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 200px;
    font-weight: 700;
    bottom: 0;
    padding: 0;
}

.banner-tittle {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 100px;
    font-weight: 500;
    top: 0;
    padding: 0;
}

.banner-size {
    color: #121213;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding: 0;
}

.banner-image {
    border-radius: 100px;
    padding: 80px;
    margin-bottom: 0;
    font-size: 500px;
    block-size: 1000px;
}

.ban {
    margin: 0;
    padding-top: px;
    top: 0;
    display: block;

}

/* sale relate  */
.new-years {
    color: #c6da17;
    text-align: center;
    font-family: Merriweather;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.categories {
    color: #9b0550d8;
    text-align: center;
    font-family: Merriweather;
    font-size: 100px;
    font-weight: 900;
    line-height: 95px;
}

.newyear-image {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    text-align: centre;
    padding: 1100px 1800px;
    padding-bottom: 300px;
    margin: center;
    font-size: 300px;
    block-size: 600px;
}

/* party side */
.party-side {
    display: flex;
    background-image: url(Vectorrr.png);
    background-size: cover;
    background-position: 0%;
    padding-block: 0px;

}

.party-title {
    color: #c5bebe;
    font-family: Merriweather;
    font-size: 300px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 8px;
    padding: 100px;
    justify-content: left;
}

.group-70 {
    justify-content: center;
    flex-shrink: 50;
    text-align: right;
    padding-left: 3200px;
    font-size: 700px;
    border: 320px 465px;
    block-size: 1300px;
}

.party-btn {
    color: #161515;
    text-align: center;
    font-family: Inter;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.Place {
    color: rgb(19, 18, 18);
    text-align: center;
    font-family: Inter;
    text-transform: capitalize;
    padding-left: 300px;
    block-size: 500px;
    font-size: 100px;
    border-radius: 200px;
    padding: 600px;
    background: burlywood;
    margin: 150px;
}

.place-btn {
    background: #F00;
    block-size: 300px;
    font-size: 200px;
    border-radius: 200px;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: azure;
}

.shopping {}

.gift {
    color: #eb0606;
    font-family: Merriweather;
    font-size: 150px;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.port {
    color: #070211;
    font-family: Merriweather;
    font-size: 200px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.first-pic {
    justify-content: left;
    flex-shrink: 50;
    text-align: lift;
    padding: 10px;
    margin: 10px;
}

.rec-3 {
    justify-content: center;
    block-size: 1300px;
    padding: 10px;
}

.rec-6 {
    justify-content: center;
    block-size: 1300px;
    padding: 10px;
}

.second-pic {
    justify-content: center;
    flex-shrink: 50;
    text-align: center;
    padding:10px;
    align-items: left;

}

.rec-4 {
    justify-content: center;
    block-size: 1300px;
    padding: 10px;
    flex-shrink: 0;
}

.rec-7 {
    justify-content: center;
    block-size: 1300px;
    padding: 10px;
    flex-shrink: 0;
}

.third-pic {
    justify-content: right;
    flex-shrink: 50;
    text-align: right;
    padding:10px;
    align-items: centre;
}
.shopping-pic{
display: flex;
gap:50px;

}

.rec-5 {
    justify-content: center;
    block-size: 1300px;
    padding: 10px;
}

.rec-8 {
    justify-content: center;
    block-size: 1300px;
    padding: 10px;
}